<nav class="navbar fixed-top navbar-expand-md navbar-light border-bottom border-dark">
    <div class="container">
      <a routerLink="" class="navbar-brand home-link">Manual Update</a>
      <button type="button" data-toggle="collapse" data-target="#navbarMain" class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div id="navbarMain" class="navbar-collapse collapse">
        <ul class="navbar-nav ml-auto navbar-right">
          <!-- <li class="nav-item">
            <a routerLink="Results" routerLinkActive="active" class="nav-link">Results</a>
          </li> -->
          <li class="nav-item">
            <a routerLink="Add_Manual" routerLinkActive="active" class="nav-link">Add Manual</a>
          </li>
          <li class="nav-item">
            <a routerLink="about" routerLinkActive="active" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a routerLink="Contact" routerLinkActive="active" class="nav-link">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- <div class="container content"> -->
    <router-outlet></router-outlet>
    
    <!-- <footer>
      <div class="row">
        <div class="col-12">
          <small>&copy; A Willow Development Company 2020</small>
        </div>
      </div>
    </footer> -->
  <!-- </div> -->
