@import url("//fonts.googleapis.com/css?family=Montserrat|Nunito:400,700");

/* html {
  font-size: 16px;
} */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', ;
}

.addUpdate {
  color: black;
}

legend {
  font-family: 'Montserrat', ;
}

.navbar {
  background-color: white;
  border-color: black;
  margin-bottom: 0;
  border-radius: 0;
}

.resultDetail {
  padding-top: 50px;
}

.home-link {
  color: black;
  font-size: 1.5em;
  font-weight: 700;
}

.navbar-light .navbar-brand {
  font-family: 'Montserrat', ;
  /* color: limegreen */
}

.navbar-light .navbar-toggler {
  color: black;
  border-color: black;
}


/* .navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svgxml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
} */

/* .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: blue;
} */


.card {
  padding: 1em;
}

.card-primary {
  /* border-color: #a2ced3; */
  margin-bottom: 0.5rem;
}

section.stick {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}
/* 
.color :nth-child(odd) {
  background-color: #83ec934f ;
}
.color :nth-child(even) {
  background-color: grey;
} */

.banner {
  /* position: -webkit-sticky; */
  /* position: fixed; */
  margin-top: 4em;
  /* border-bottom: 1px solid black; */
  margin-bottom: 1.5em;
  /* padding-bottom: 1em; */
}

/* .review-header {
  background-color: #31727a;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
} */

/* .review {
  margin-right: -16px;
  margin-left: -16px;
  margin-bottom: 0.5em;
} */

.badge-default, .btn-primary {
  background-color: #ad1d28;
  border-color: #911821;
}

h1 small {
  color: yellow;
}

p {
    margin-bottom: 0;
}

a {
  color: blue
}

a:hover {
  color: red;
}

/* .content {
  margin: 0;
  border: 0;
}

.container {
  margin: 0;
  border: 0;
} */
/* #pageHeader {
  position: sticky;
  top: 62px;
} */

.stick {
  position: fixed !important;
  right: 60px;
  margin-top: 100px;
  width: 600px;
}
.extra-card{
  margin-top: 100px;
  width: 600px;
  margin: 60px
}

.updateUpdater {
  font-size: 1em;
}

.mainCard {
  background-color: orangered;
}

.form-group {
  margin-bottom: 4px!important;
}

.updateCard {
  background-color: #52b788;
}

.about {
  font-size: large;
  margin-left: 370px;
  text-align: justify;
  width: 600px;
  border-color: orangered
}

.contactForm {
  border-color: orangered;
  margin-left: 370px;
  width: 600px;
  /* text-align: center; */
}

.addManText {
  border-color: orangered;
  width: 300px;
  height: 300px;
  font-size: 22px;
  margin: 100px 150px 100px 200px;
  text-align: center;
  /* display: inline-block; */
}

input[type="text"]{
  font-size: small;
}

.addManForm {
  border-color: orangered;
  width: 600px;
  margin-left: 200px;
  display: inline-block;
}

/* .test {
  display: inline-block;
} */

body {
  /* line-height: 1.0; */
  text-justify: inter-word;
  font-family: "Montserrt", "Nunito", sans-serif;
  color: black;
  background-color: white;
}

.gridUpdateList {
  margin-top: 20px;
  margin-left: 250px;
  width: 800px;
  background-color: #2ec4b6;
}

.bgimage {
  width: 100%;
  height: 100vh;  
  background-image: url('../Photos/books-background\ \(1\).jpg');
  background-size: cover;
  position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: 3;
}

.bgimage::before {
  content: '';
  display: block;
  position: absolute;
  background-color: black;
  background-size: cover;
  background-position: center;
  opacity: 0.4;
  width: 100%;
  height: 100vh;
  /* z-index: 2; */
}

.relative {
  position: relative;
  left: 30px;
  color: white;
  text-shadow: 2px 2px #333;
  padding: 100px;
};

.well {
  background-color: #f1f1f1
}

#content {
  padding: 25% 25% 5%;  
}

.bgimage .search input{
  /* width: 0%; */
  /* height: 40px; */
  /* line-height: 30px; */
  /* border: 1px solid black; */
  background: white;
  font-size: 20px;
  padding: 5px 5px 5px 5px;
  color: black;
  height: 55px;
  /* width: 100px; */
}

.bgimage .search button {
  height: 55px;
  width: 48px;  
  line-height: 48px;/* top: 6px; */
  /* right: 6px; */
  /* color: black;
  background: white;
  font-size: 27px; */
  /* height: 2em; */
  /* line-height: 65px; */
  /* width: 0; */
  /* padding: 5px 5px 5px 5px;
  border-radius: 0; */
  /* border: 1px solid black; */
}

.search {
  margin: 0 auto;
  position: absolute;
  top: 60%;
  height: 55px;
  margin-top: -27px;
  left: 50%;
  margin-left: -150px;
}

.input-group {
  width:300px;
}

.text-center {
  /* color: #f1f1f1; */
}

.orISBN {
  text-align: center;
  margin-bottom: 0px;
  font-size: 1.5em;
}

/* body { font-size: clamp(100%, 1rem + 2vw, 24px);
} */