<html>

<body>
  <section class="bgimage">
    <div class="container-flex">
      <div class="relative">
        <div class="col-12"></div>
        <h2 class="text-responsive">Have an update leave an update, need an update use an update.</h2>
        <h4 class="text-responsive">Join the community, become an Updater.</h4>
      </div>
      <div class="search">
        <div class="col-lg-6">
          <form (ngSubmit)="mongoSearch()">
            <div class="input-group mb-3 input-group-lg">
              <div class="input-group-append">
              <input type='text' [(ngModel)]="searchstring" id='searchstring' name='searchstring'
                class="form-control search-form rounded-0" placeholder="Find your update">
              <span class="input-group-btn">
                <button type="submit" class="search-btn rounded-0"><i class="fa fa-book-open fa-2x"></i></button>
              </span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</body>

</html>