

<!-- <body>
  <app-page-header [content]="pageContent.header"></app-page-header> -->
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
  <!-- <div class="container, hero">
    <div id="content"> -->
    <section class="bgimage">
      <div class="container-fluid">
        <div class="relative">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>
            <h2>Have an update leave an update, need an update use an update.</h2>
            <h4>Join the community, become an Updater.</h4>
           <form (ngSubmit)="mongoSearch()">
              <div class="input-group">
                <div class="d-flex justify-content-lg-center">
                <input type='text' id='userQueryString' class="form-control search-form" placeholder="Find your update">
                  <span class="input-group-btn" style="width:200px">
                    <button id="search-this"type="button" class="pull-right btn btn-default search-btn">
                      <i class="fa fa-book-open"></i>
                    </button>
                  </span>
                </div>
              </div>
            </form>
          </div>
      </div>
    </section>
        <!-- <p class="text-center">Some centered text</p> -->
        
        
    <!-- </div> -->
  <!-- </div> -->
<!-- </body> -->