<html>

<body>
  <section class="bgimage">
    <div class="container-flex">
      <div class="relative">
        <div class="col-12"></div>
        <h2 class="text-responsive">Have an update leave an update, need an update use an update.</h2>
        <h4 class="text-responsive">Join the community, become an Updater.</h4>
      </div>
      <div class="container">
        <div class="col-lg-6" class="search">
          <form  (ngSubmit)="mongoSearch()">
            <div class="input-group">
              <!-- <div class="d-flex"> -->
              <input type='text' [(ngModel)]="searchstring" id='searchstring' name='searchstring' class="form-control search-form" placeholder="Find your update">
              <span class="input-group-btn">
                <button type="submit" class="search-btn"><i class="fa fa-book-open"></i></button>
              </span>
              <!-- </div> -->
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</body>

</html>
<!-- <p class="text-center">Some centered text</p> -->
